h1 {
  font-weight: bold;
  text-align: center;
  border: 2px solid #429b72;
  padding: 4px;
  margin: 12px;
  font-family: Georgia;
}
img {
  display: block;
  margin: auto;
  border-radius: 50%;
}
div.header {
  font-family: Georgia;
}
div.column {
  width: 300px;
  float: left;
}
h3.subheader {
  font-style: italic;
}
